.main-area {
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
}

.title {
    white-space: nowrap;
    font-size: xx-large;
    font-weight: bold
}

.text {
    white-space: nowrap;
    font-size: medium;
}

.invisible {
    opacity: 0;
}

.button-group {
    overflow: auto; /* 子要素がfloatの場合でも、親要素の高さを子要素に合わせて拡張するためのプロパティ */
}

.buttom-left {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.buttom-right {
    float: right;
    margin-top: 5px;
}
